@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');


/* 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lora', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Varela Round', sans-serif;
*/

.post{
    width: 385px;
    margin: 0 25px 40px 25px;
    box-shadow: 0px 0px 0px 0px gray;
    overflow: hidden;
    padding: 2%;
    cursor: pointer;
}

.post:hover{
    transition: 300ms;
    box-shadow: 0px 9px 15px -3px gray
}

.postImg{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}

.post:hover .postImg{
    transition: 600ms;
    transform: scale(1.1);
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.PostCats{
    width: 100%;
    display: flex;
    justify-content: center;
}

.postCat{
    font-family: 'Varela Round', sans-serif;
    font-size: 11px;
    color:#be9656;
    line-height: 20px;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
}


.postTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
}

.postDate{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 13px;
    color: #999;
    margin-top: 15px;
}

.postDesc{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}




@media screen and (max-width: 600px) {
    .post {
        width: 100%;
        margin: 0 25px 40px 0px;
        box-shadow: 0px 0px 0px 0px gray;
        overflow: hidden;
        padding: 2%;
        cursor: pointer;
        background-color: #be9656;
    }



    
.post:hover{
    transition: 300ms;
    box-shadow: 0px 0px 0px 0px gray;
}

.postImg{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
}

.post:hover .postImg{
    transition: 600ms;
    transform: scale(1.1);
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.PostCats{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.postCat{
    font-size: 20px;
    color: #be9656;
    background-color: #fff;
    line-height: 20px;
    margin-top: 15px;
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
    padding: 2%;
    border-radius: 6px;
    text-transform: capitalize;
}


.postTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    border-bottom: solid 1px #fff;
}

.postDate{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 18px;
    color: #fff;
    margin-top: 15px;
}

.postDesc{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 24px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

    
}